body {
    background-color: #121212 /*black o #000000, o rgb(0, 0, 0)*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;*/
}
header {
    /*background-color: black;*/
    color: #fff;
    padding: 20px;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
    color: #fff;
}
footer {
    /*background-color: black;
    position: fixed; bottom:0; width: 100%*/
    color: #fff;
    text-align: center;
    padding: 10px;
}
